# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** <br>
List  languages  for Data Science
- R 
- Python 
- SQL

In [ ]:
Some of the popular languages that Data Scientists use are:
    
1. SQL
2. R Langauge 
3. Python

Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools| 
| -------------|
| Jupyter | 
| RStudio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers#  
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60#
round(200/60,1)

3.3

## Author
Judie Shen